---
layout: page
title: LernMoment Blog mit Beiträgen über Programmieren, Softwareentwicklung, C#, Angular 2, Git, etc.
excerpt: Jan Suchotzki bloggt auf LernMoment über Programmieren, Softwareentwicklung, C#, Angular 2, Git, etc.
---

<div class="blog-overview">
  {% assign categories = site.categories | sort %}
<div class="blog-category-wrapper">
      <a href="/blog/programmieren-fuer-einsteiger">
        <div class="blog-category-box" id="einsteiger">
          <h2>Programmieren für Einsteiger</h2>
        </div>
      </a>
      <a href="/blog/csharp-fuer-fortgeschrittene">
        <div class="blog-category-box" id="fortgeschrittene">
          <h2>C# für Fortgeschrittene</h2>
        </div>
      </a>
      <a href="/blog/lernmoment-iterationen">
        <div class="blog-category-box" id="iterationen">
          <h2>LernMoment Iterationen</h2>
        </div>
      </a>
  </div>
  <!-- <br><br><br>
  <h2>Übersicht über alle Blogposts</h2>
  {% for category in categories %}
    <h3>{{ category | first }}</h3>
    <p>{% for posts in category %}
      {% for post in posts %}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% if forloop.last == false %},&nbsp;
        {% endif %}
      {% endfor %}
    {% endfor %}</p>
  {% endfor %} -->
</div>
