<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <style type="text/css">#cookie-bar #cookie-bar-button,#cookie-bar p{font-family:"Open Sans",sans-serif!important;font-weight:300;font-size:10px}#cookie-bar #cookie-bar-button{color:#fafafa!important;cursor:pointer;display:inline-block;text-align:center;text-shadow:none;white-space:nowrap;border-radius:100px;background-color:#ffa726;border:none}#cookie-bar #cookie-bar-button:hover{background-color:#fb8c00;text-decoration:none}#cookie-bar #cookie-bar-prompt-button{color:#ffa726;text-decoration:none}#cookie-bar #cookie-bar-prompt-button:hover{color:#fb8c00}</style>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% feed_meta %}
  <script type="text/javascript">WebFontConfig={google:{families:["Roboto:100","Open Sans:300,400"]}},function(e){var o=e.createElement("script"),t=e.scripts[0];o.src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js",o.async=!0,t.parentNode.insertBefore(o,t)}(document);</script>
  <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58890395123e7b04" defer></script>  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/cookie-bar/1/cookiebar-latest.min.js?tracking=1&thirdparty=1&scrolling=1&always=1" defer></script>
</head>
