// Color styles from logo and old page
$lm-ci: #00A8C6;
$lm-ci-hover: #00d3f9;
$lm-ci-text: #F9F2E7;

body {
  color: rgb(33, 33, 33);
  font-weight: 300;
  background-color: rgb(250, 250, 250);
  letter-spacing: 1px;
}

a {
  color: $lm-ci;
  text-decoration: none;
  &:hover {
    color: $lm-ci-hover;
  }
}

h1 {
  font-size: 12vmin;
}
h2 {
  font-size: 6vmin;
}

h3 {
  font-size: 22px;
  margin-bottom: 0;
}

h4 {
  font-size: 20px;
  margin-bottom: 0;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
}

h1, h2, h3 {
  letter-spacing: 3px;
}

h4, h5 {
  letter-spacing: 0;
}

.abstract {
  font-weight: 400;
}

nav {
  position: absolute;
  top: 0;
  min-width: 100vw;
  background-color: transparent;
  .logo {
    float: left;
    padding: 20px;
  }
  ul {
    margin: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    li {
      float: left;
      a {
        display: inline-block;
        color: $lm-ci-text;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;
        &:hover {
          color: $lm-ci-text;
          background-color: $lm-ci-hover;
        }
      }
    }
  }
}

button {
  color: $lm-ci-text;
  background-color: $lm-ci;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border-radius: 100px;
  line-height: 2.5;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border: none;
  &:hover {
    background-color: $lm-ci-hover;
  }
}

header {
  background: url('/assets/images/computer.jpg');
  background-position: center top;
  background-size: cover;
  section {
    padding-top: 15vh;
    padding-bottom: 3vh;
    color: $lm-ci-text;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

header#hero {
  min-height: 100vh;
  section {
    padding-top: 45vh;
  }
}

.content {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.addthis_default_style {
  // Hacking AddThis default style
  position: absolute;
  right: 16px;
  top: 56px;
}

#cookie-bar {
  // Hacking CookieBar z-index to show it over AddThis
  z-index: 10000;
}
