---
layout: page
title: LernMoment | Iterationen
description: Iterationen auf LernMoment - lerne und übe einen Monat
---

<div class="blog-category-overview" id="iterationen">
  <h1>
    {{ page.title }}
    <small style="display: block;">
      <a href="#">
        Lerne und übe ein Thema in einem Monat
        &rarr;
      </a>
    </small>
  </h1>
  {% for page in site.pages %}
    {% if page.layout == 'iteration' %}
      <a href="{{ page.url | prepend: site.baseurl }}">
        <div class="post-preview">
            <h2>
              {{ page.title }}
            </h2>
          <div class="post-date">{{ post.date | date: "%-d. %b %Y" }}</div>
          <p>
            {{ page.excerpt }}
          </p>
          <div class="readmore">↪ weiterlesen</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>