---
layout: page
title: Programmieren für Einsteiger
---

<div class="blog-category-overview" id="einsteiger">
  <h1>
    <small>Blogbeiträge zum Thema</small>
    {{ page.title }}
  </h1>
  {% for post in site.posts %}
    {% if post.categories contains "alle" or post.categories contains "hintergrund" or post.categories contains "einstieg-csharp" %}
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-preview">
            <h2>
              {{ post.title }}
            </h2>
          <div class="post-date">{{ post.date | date: "%-d. %b %Y" }}</div>
          {% if post.image.feature %}
          <div class="entry-feature-image-wrapper">
            <img src="{{ site.url }}/assets/images/{{ post.image.feature }}" class="entry-feature-image" alt="{{ page.title }}">
          </div>
          {% endif %}
          <p>
            {{ post.excerpt }}
          </p>
          <div class="readmore">↪ weiterlesen</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
</div>