<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include header.html %}
    <div class="content iteration">
      <h1>
        {{ page.title }}
      </h1>
      {% if page.excerpt %}
        <p class="abstract">{{ page.excerpt }}</p>
      {% endif %}
       {% if page.youtube_video_id %}
        <iframe src="https://www.youtube.com/embed/{{ page.youtube_video_id }}" frameborder="0" allowfullscreen></iframe>
       {% endif %}
      {{ content }}

      <h2>Iterationen zu diesem Thema</h2>
      <ol class="iteration-list">
        {% for post in site.posts %}
          {% if post.iteration contains page.iteration-shorthand %}
                <li>
                  <a href="{{ post.url | prepend: site.baseurl }}">
                    <h3>
                      {{ post.title }}
                    </h3>
                    <p>
                      {{ post.excerpt }}
                    </p>
                  </a>
                </li>
          {% endif %}
        {% endfor %}
      </ol>
      {% if page.show-lm-newsletter-subscribe-box %}
        <div class="subscribe-notice">
          <h5>Dieser LernMoment hat dir gefallen? <br> Dann melde dich an und du wirst über neue LernMomente informiert:</h5>
          {% include lernmoment-subscribe.html %}
        </div>
      {% endif %}
      {% if site.owner.disqus-shortname %}
        <div id="disqus_thread"></div>
        {% include disqus.html %}
      {% endif %}
    </div>
    {% include footer.html %}
  </body>
</html>
