<!DOCTYPE html>
<html lang="de">
  {% include head.html %}
  <body>
    {% include nav.html %}
    {% include header.html %}
    <div class="content post">
      <h1>
        {{ page.title }}
      </h1>
      <span>{{ page.date | date: "%-d. %b %Y" }}</span>
      {% if page.excerpt %}
        <p class="abstract">{{ page.excerpt }}</p>
      {% endif %}
      {{ content }}
        {% if site.owner.disqus-shortname %}
          <div id="disqus_thread"></div>
          {% include disqus.html %}
        {% endif %}
    </div>
  </body>
</html>